extends ../layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='firstName') First Name:
      input#first_name.form-control(type='text' placeholder='First name' name='firstName' required='true' value=(undefined===author ? '' : author.firstName))
      label(for='lastName') Family Name:
      input#family_name.form-control(type='text' placeholder='Family name' name='lastName' required='true' value=(undefined===author ? '' : author.lastName))
    div.form-group
      label(for='dateOfBirth') Date of birth:
      input#date_of_birth.form-control(type='date' name='dateOfBirth' value=(undefined===author ? '' : author.dateOfBirthF))
    div.form-group
      label(for='dateOfDeath') Date of death:
      input#date_of_death.form-control(type='date' name='dateOfDeath' value=(undefined===author ? '' : author.dateOfDeathF) )
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg